body {
    font-size: 18pt;
    background-image: url('img/bg.jpg');
    background-size: 10%;
    background-color: lightgrey;
    background-repeat: repeat;
    margin: auto;
}

h1, h3, #results {
    margin: 0 0 0 0;
}
h1, h3, h4 {
    padding-top: 10px;
    padding-bottom: 10px;
}

h4 {
    padding-left: 10px;
}

header {
    text-align: center;
    background-color: #D1B1CB;
    margin-bottom: 25px;
}
div.content {
    background-color: #EAFDF8;
    min-height: 100px;
    width: 940px;
    margin: 0 auto 25px auto;
}

div.title {
    padding: 0;
    background-color: lightblue;
    color: white;
}
.content ul {
    padding-top: 25px;
}
